.windowsSection {
  position: relative;
  z-index: 10;
  background-color: #fcf6ef;
  padding-top: 0.1px;
  padding-bottom: 0;
  width: 100%;
}

.windowsContainer {
  width: 100%;
  margin: 0 auto;
  margin-top: -130px;
  padding-bottom: 50px;
  overflow: hidden;
}

.slider {
  width: 100%;
}

.slideWrapper {
  padding: 0 10px;
  outline: none;
}

.windowFrame {
  opacity: 0;
  width: 160px;
  margin: 0 auto;
  height: auto;
  transition: transform .3s;
  animation: slideUpFade .6s cubic-bezier(.2, .8, .2, 1) forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.windowFrame:hover {
  transform: translateY(-5px) scale(1.08);
  z-index: 2;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.5s ease;
  filter: drop-shadow(0 15px 5px #0000004d);
}

.destName {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 800;
  color: #111;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 4px rgba(255,255,255,0.8);
}

@media (max-width: 1024px) {
  .windowFrame {
    width: 140px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .windowsContainer {
    margin-top: -50px;
  }
  .windowFrame {
    width: 100%;
    max-width: 160px;
    height: auto;
  }
  .destName {
    font-size: 13px;
  }
}
